.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;    
    text-align: center;    
    width: 10rem;
  }
  
  .button:active {
    background: #741188;
    border-color: #741188;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  .button:focus {
    outline: none;
  }

    